* {
  box-sizing: border-box;
}
/* image */
img {
  width: 50%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

span {
  color: rgb(110, 5, 67);
}

section {
  margin-top: 20px;
  padding: 15px;
  background-color: white;
  text-align: left;
}

ul li:first-child {
  font-weight: bold;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #ddd;
}

caption {
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
  background-color: #816565;
  border-bottom: 2px solid #ddd;
  color: white; /* Weißer Text für Kontrast */
}

th,
td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  border-bottom: 2px solid #ddd;
}

tr:nth-child(even) {
  background-color: #e6e6e6; /* Helleres Grau für gerade Zeilen */
}

tr:hover {
  background-color: #f2f2f2;
}

tfoot {
  font-style: italic;
  background-color: #f2f2f2;
  font-size: 0.9em;
  border-top: 2px solid #ddd;
}

audio {
  max-width: fit-content;
}

.leftcolumn {
  float: left;
  width: 80%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 20%;
  background-color: #5893b8;
  padding-left: 20px;
}
/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
