* {
  box-sizing: border-box;
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 65%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 35%;
  background-color: #5893b8;
  padding-left: 20px;
}

@font-face {
  font-family: "Japan Rich";
  src: url("../assets/fonts/JapanRich-Regular.woff2");
}

h1{
  font-family: "Japan Rich";
}

/* image */
img {
  width: 50%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.fakeimg {
  background-color: #1f2532;
  color: white;
  width: 100px;
  height: 100px;
}

section {
  margin-top: 20px;
  padding: 15px;
  background-color: white;
}

video {
  width: 60%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #1f2532;
}

a:hover{
  background-color: #5893b8;
  color: white;
}

.video-wrapper {
  overflow: hidden;
}

.vid {
  transform: scale(1); /* Adjust scale as needed */
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
