* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #5893b8;
}
/* Header/Blog Title */
.header {
  padding: 20px;
  padding-top: 50px;
  text-align: center;
  color: white;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #1f2532;
}

/* Style the topnav links */
.topnav a {
  background-color: #1f2532;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #5893b8;
  color: black;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: transparent;
  font-size: 20px;
}

div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  border: 3px solid #73ad21;
}

/* Footer */
footer {
  padding: 20px;
  text-align: center;
}
.bottomnav {
  overflow: hidden;
  background-color: #1f2532;
  display: flex;
  justify-content: center;
}

/* Style the bottom links */
.bottomnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #1f2532;
}

/* Change color on hover */
.bottomnav a:hover {
  background-color: #5893b8;
  color: black;
}
