* {
  box-sizing: border-box;
}

  body {
    font-family: Arial;
    padding: 10px;
    background: #5893b8;
  }
/* Header */
.header {
    padding: 20px;
    padding-top: 50px;
    text-align: center;
    color: white;
  }
  
  .header h1 {
    font-size: 50px;
  }
  /*-----------------------*/
  /*Top Nav*/
  .topnav {
    overflow: hidden;
    background-color: #1f2532;
  }
  
  .topnav a {
    background-color: #1f2532;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .topnav a:hover {
    background-color: #5893b8;
    color: black;
  }
  /*-----------------------*/
  /* Footer */

footer {
  padding: 20px;
  text-align: center;
}

.bottomnav {
  overflow: hidden;
  background-color: #1f2532;
  display: flex;
  justify-content: center;
}

.bottomnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #1f2532;
}
 
.bottomnav a:hover {
  background-color: #5893b8;
  color: black;
}

/*-----------------------*/
/* Class */
  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: transparent;
    font-size: 20px;
  }

  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  /*-----------------------*/
  /*Id */
#logo {
  height: 40px;
  width: auto;
}
#fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  color: white;
}

#fixed a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #1f2532;
}

#fixed a:hover{
  background-color: #5893b8;
  color: white;
}

#fixed button{
  text-decoration: none;
  border: none;
  background: none;
}

/*-----------------------*/
  /*Responsive*/
@media screen and (max-width: 900px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
  #title {
    font-size: 0.5em;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
